.git
*.log
*.zip
*.html
*.hva
*.old
*.pdf
translations
archive
code
createspace
notes
html-snap
*~
CALIBRE.md
book.aux
book.idx
book.ilg
book.ind
book.pdf
book.sh
book.synctex.gz
book.toc
book_009.pdf
book_270.epub
book_270.mobi
book_270.pdf
html.sh
DiabetesNorm.svg
ReplaceExtendedChars.class
ShowCodes.class
ShowCodes.java
book.4ct
book.4tc
book.bbl
book.blg
book.css
book.idv
book.lg
book.out
book.tmp
book.xref
book_content.out
oldtex
*diff
